.header
{
	margin: 30px;
	padding: 10px;
	background: #000;
	color: #fff;
	text-align: center;
}

form
{
	display: flex;
	justify-content: center;
	align-items: center;
}

input
{
	margin: 20px;
	padding: 10px;
	border-radius: 10px;
}

input[type="submit"]
{
	color: #f00;
	background: #00ffff;
	font-weight: 900;
}